//colors
$main_background: #F2F2F2;
$very_light_gray: #979797;
$main_violet: #5A1094;
$dark_gray: #6B6B6B;
$confirmation_main: #4d4f4d;

//sizes
$container: 150px;
$main_padding: 48px 0 70px 0;
$shipping_max: 700px;
$shipping_padding: 22px 37px 37px 37px;
$order_padding: 22px 15px 0 15px;